.home-page {
  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}

.cityField {
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.refineField {
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.table {
  height: 300px;
  overflow: auto;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  #cityField,
  #refineField {
    width: 100%;
  }
}
#myTable {
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  font-size: 18px;
  th {
    text-align: left;
    padding: 12px;
  }
  td {
    text-align: left;
    padding: 12px;
  }
  tr {
    border-bottom: 1px solid #ddd;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  .header {
    background-color: #f1f1f1;
  }
}
