::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.home-page {
  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}

.cityField {
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 0px 0px 10px 0px;
  width: 100%;
  display: inline-block;
}
.refineField {
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 0px 0px 20px 0px;
  width: 100%;
}

.table {
  height: 300px;
  overflow: auto;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .cityField,
  .refineField {
    width: 100% !important;
  }
  .resicon {
    display: none;
  }
}
#myTable {
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  th {
    text-align: left;
    padding: 12px;
    font-size: 16px;
  }
  td {
    text-align: left;
    padding: 12px;
  }
  tr {
    font-size: 13px;
    display: table-row;
    border-bottom: 1px solid #ddd;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  .header {
    background-color: #f1f1f1;
  }
  .resicon {
    width: 20%;
    float: left;
    vertical-align: middle;
  }
}
